body {
        background-image: url("image.jpg");
}
  h1 {
    color: white;
     text-align: left;
    font-size: 69px;
  }
  h2{
      color:white;
      text-align: center;
      font-size: 30;
  } 
  ul
  {
      list-style-type: none;
  }
  li{
    display: inline-block;
    padding-right: 50px;
      color: aqua;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h4{
      color: peru;
  }
  table, th, td {
    border:1px solid white;
  }